[
    (
        name: "锈铁野狗",
        hp: 25,
        damage: 3,
        weight: 40,
        image_path: Some("XiuJiYeGou.png"),
        loot: [
            (item: ScrapIron, quantity: 2, probability: 1.0),
            (item: Leather, quantity: 1, probability: 0.3),
        ],
    ),
    (
        name: "狂暴蟑螂",
        hp: 35,
        damage: 5,
        weight: 50,
        image_path: Some("jiqiren_1.png"),
        loot: [
            (item: ScrapIron, quantity: 3, probability: 1.0),
            (item: CopperWire, quantity: 2, probability: 0.5),
            (item: Leather, quantity: 2, probability: 1.0),
            (item: DryBattery, quantity: 1, probability: 0.1),
        ],
    ),
    (
        name: "废品拾荒车",
        hp: 35,
        damage: 5,
        weight: 60,
        image_path: Some("jiqiren_2.png"),
        loot: [
            (item: ScrapIron, quantity: 3, probability: 1.0),
            (item: CopperWire, quantity: 2, probability: 1.0),
            (item: DryBattery, quantity: 1, probability: 0.1),
        ],
    ),
    (
        name: "机械鳄鱼",
        hp: 35,
        damage: 5,
        weight: 70,
        image_path: Some("jiqiren_3.png"),
        loot: [
            (item: ScrapIron, quantity: 3, probability: 1.0),
            (item: Leather, quantity: 4, probability: 1.0),
            (item: CopperWire, quantity: 2, probability: 0.5),
            (item: DryBattery, quantity: 1, probability: 0.1),
        ],
    ),
    (
        name: "垃圾葬送者",
        hp: 35,
        damage: 5,
        weight: 80,
        image_path: Some("jiqiren_4.png"),
        loot: [
            (item: ScrapIron, quantity: 3, probability: 1.0),
            (item: CopperWire, quantity: 2, probability: 1.0),
            (item: DryBattery, quantity: 1, probability: 0.1),
        ],
    ),
    (
        name: "变异巨熊",
        hp: 60,
        damage: 8,
        weight: 85,
        image_path: None,
        loot: [
            (item: HighStrengthSpring, quantity: 3, probability: 1.0),
            (item: BearPaw, quantity: 1, probability: 1.0),
        ],
    ),
]
