{
    EngineLevel1: (
        name: "老烟枪",
        description: "二手柴油机，启动时会冒出浓浓的黑烟，最高时速只有30公里，但胜在能烧各种劣质燃油",
        weight: 0.5,
    ),
    EngineLevel2: (
        name: "V8 卡车引擎",
        description: "专为重型载具打造,在低转速区间即可爆发出惊人的峰值扭矩，赋予载具无与伦比的拖拽力与脱困能力。引擎运转平顺且声浪浑厚",
        weight: 1.0,
    ),
}